@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This was an example made with ASP.Net Core, following the guide on <a href="https://docs.microsoft.com/aspnet/core">how to build Web apps </a> in the microsoft docs web.</p>
</div>
