@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a test, it was made with educative purposes and the code is available for anyone on <a href=https://www.github.com/Azokah/MyStoriesApp>GitHub</p>
